<a href="https://colab.research.google.com/github/joalexx/Python_Basico_Diplomado/blob/main/Ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.   Crear una variable numérica < 9 y > 4**

In [3]:
x = 5
print(x)
print(type(x))

5
<class 'int'>

**2. Crear una lista de números > -9**

In [8]:
lista = list(range(-9,10))
print(lista)

[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**3. Elevar todos los elementos de la lista anterior al cuadrado y agruparlos en una sola lista diferente.**

In [12]:
num_ele = [x**2 for x in lista]
print(num_ele)
print(type(num_ele))

[81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
<class 'list'>


**4. Crear una Secuencia con los números del 1 al 20**

In [14]:
Secuencia = list(range(1,21))
print(Secuencia)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

**5. Escribir un programa que solicite un valor entero al usuario y determine si es par o impar.**

In [24]:
def esParImpar(num):
  if num % 2 == 0:
    respuesta = print("El número es par")
  else:
    respuesta = print("El número es impar")
  return respuesta

In [25]:
esParImpar(121)

El número es impar

7.   Escribir un programa que muestre por pantalla la categoría del empleado teniendo en cuenta que:
 *  Si el código es divisible por 2, por 3 y por 5, la categoría del empleado es “Director general”.
  * Si el código es divisible por 3 y por 5 pero no por 2, la categoría del empleado es “Directivo”.
  * Si el código es divisible por 2, pero no por 3 ni por 5, la categoría del empleado es “Staff”.
  * Si el código no es divisible por 2, ni por 3 ni por 5, la categoría del empleado es “Seguridad”.  
  Recuerde que: Un numero X es divisible por otro Y; si X mod Y = 0.

In [38]:
def programaEmpleado(num):
  if  (num % 2 == 0 and num % 3 == 0 and num % 5 == 0):
    respuesta = "Director general"
  elif (num % 3 == 0 and num % 5 == 0 and num % 2 != 0):
    respuesta = "Directivo"
  elif (num % 2 == 0 and num % 3 != 0 and num % 5 != 0):
    respuesta = "Staf"
  elif (num % 2 != 0 and num % 3 != 0 and num % 5 != 0):
    respuesta = "Seguridad"
  else:
    respuesta = "No tiene categoria"
  return print(respuesta)

In [39]:
programaEmpleado(30)

Director general

8.    La fecha del domingo de Pascua corresponde al primer domingo después de la primera luna llena que sigue al
equinoccio de primavera. Dado un año, los cálculos que permiten conocer esta fecha son:
    * A = año %19
    * B = año % 4
    * C = año % 7
    * D = (19 * A + 24) % 30
    * E = (2 * B + 4 * C + 6 * D + 5) % 7
    * N = (22 + D + E)
Donde N indica el número del día del mes de marzo (o abril si N es superior a 31) correspondiente al domingo de Pascua. 

Escribir un programa que lea un año y muestre el día y el mes en el que se celebró o se celebrará el domingo de Pascua ese año. 
Utilizar una función a la que se le pase como parámetro el año y retorne el valor de N. El programa principal realiza el resto del proceso.

In [66]:
A = lambda año: año%19
B = lambda año: año%4
C = lambda año: año%7

In [67]:
def pascua(año):
  D = (19 * A(año) + 24) % 30
  E = (2 * B(año) + 4 * C(año) + 6 * D + 5) % 7
  N = (22 + D + E) 
  return print(N)

In [ ]:
pascua(2022)

9.   Corrija la sintaxis de los siguientes códigos:

In [ ]:
threshold = 5
values = list(range(10))
#print(values)
for v in values:
  if (v > threshold):
    print(v)

In [ ]:
for i in range(5):
  print(i)

In [ ]:
counter = 0
while counter < 10:
  print(counter)
  counter = counter + 1

10.  Cree una lista de texto cualquiera y genere un código que imprima todos los elementos que poseen más de 3 caracteres

In [82]:
ListdeTexto = ["Una","El Imperio Contraataca","La","Pelicula","El Retorno del Jedi","La Amenaza Fantasma","ab","abc","abcd","La Guerra de los Clones","A"]
print(ListdeTexto)
#solucion
for x  in ListdeTexto:
  if len(x) > 3: print(x)

['Una', 'El Imperio Contraataca', 'La', 'Pelicula', 'El Retorno del Jedi', 'La Amenaza Fantasma', 'ab', 'abc', 'abcd', 'La Guerra de los Clones', 'A']
El Imperio Contraataca
Pelicula
El Retorno del Jedi
La Amenaza Fantasma
abcd
La Guerra de los Clones

11.  Separar la siguiente lista de tuplas en dos, de forma que todos los números estén en una y los restos en otra

In [ ]:
data = [(1,'banana'),(2,'pear'),(3,'sweet potato'),(4,'melon')]
print(data)
print(type(data))
numeros = list("")
letras = list("")
for x  in data:
    numeros.append(x[0])
    letras.append(x[1])

print(numeros)
print(letras)

12. Escriba una función que responda "Hola, ¿cómo estás?, cuando reciba como entrada "Hola", y que se despida con cualquier texto que reciba como entrada.

In [1]:
def Saludo(text):
  if  text == 'Hola':
    return print('Hola, ¿cómo estás?')
  else:
    return print('Fue un gusto. Hasta Luego?')

In [4]:
Saludo('Hola')

Hola, ¿cómo estás?